<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:db/testJr.db</property>
		
		<mapping class="ru.testJr1.model.entities.Contract"/>
		<mapping class="ru.testJr1.model.entities.Adress"/>
		<mapping class="ru.testJr1.model.entities.Person"/>
		<mapping class="ru.testJr1.model.entities.SquareFactor"/>
		<mapping class="ru.testJr1.model.entities.OldFactor"/>
		<mapping class="ru.testJr1.model.entities.RealtyFactor"/>
		<mapping class="ru.testJr1.model.entities.ContractTableView"/>
		<mapping class="ru.testJr1.model.entities.ContractFullView"/>
	</session-factory>
</hibernate-configuration>
